@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #2d6187;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: var(--secondary);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

.input {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  background-color: #e8e8e8;
  border: none;
  height: 30px;
  margin: 10px;
  outline: none;
}

::placeholder {
  font-weight: 700;
  color: #333456;
  padding-left: 8px;
}

.logout-div {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.logout-div > h1 {
  flex-grow: 7;
  margin-left: 10px;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  flex-grow: 1;
  max-height: 40px;
}

.google-logo {
  width: 30px;
  margin-right: 15px;
}

.search-logo {
  width: 25px;
  margin: auto 10px;
  cursor: pointer;
}

.no-photos {
  color: #2d6187;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 1.5rem;
}

.search-date-heading {
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.search-button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #333456;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: 600;
  width: 130px;
  height: 30px;
  margin: 10px;
}

.search-button:hover {
  background-color: #595b83;
}

.title h1 {
  color: var(--primary);
  font-size: 1.8rem;
  letter-spacing: 2px;
  font-weight: 600;
}
.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */

form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover {
  background: var(--primary);
  color: white;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 2.2em;
  font-weight: 100;
  color: #555;
  user-select: none;
}

.login-buttons {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-provider-button {
  border: 1px solid #4e4e4e;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date-created {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  margin-bottom: 50px;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
}
.img-wrap img {
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  object-fit: contain;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  top: 0;
  left: 0;
}

.img-wrap button {
  visibility: hidden;
}

.img-wrap:hover button {
  visibility: visible;
  position: absolute;
}

.img-wrap:hover img {
  opacity: 0.7;
}

.memory {
  position: absolute;
}

.hide {
  display: none;
}

.progress {
  margin: 10px auto;
}

.background-image {
  width: 100%;
  object-fit: contain;
}

/* modal styles */

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.icons {
  width: 20px;
  margin-right: 10px;
}

textarea {
  margin-top: 10px;
  width: 50%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color #ffffff #ffffff -moz-use-text-color;
  border-image: none;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 30px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
  background: none repeat scroll 0 0 #ffffff;
  outline-width: 0;
}

.add-icon {
  background-image: none;
  width: 60px;
  border-width: 0;
  cursor: pointer;
}

.menu-item {
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 0.8rem;
  padding-bottom: 10px;
  cursor: pointer;
}

.caption-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.caption-text {
  text-align: center;
  font-weight: 600;
  color: #214252;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.delete-text {
  color: white;
  text-align: center;
  margin: 20px;
}

.cancel-button {
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete-button {
  background-color: #af2d2d;
  color: white;
  border: none;
  height: 30px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 10px 20px;
  width: 100px;
  outline: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #bb2205;
}

.cancel-button:hover {
  background-color: #d2d3c9;
}

@media screen and (max-width: 550px) {
  .logout-button {
    margin-right: 0;
  }
  .backdrop {
    flex-direction: column;
  }
  textarea {
    margin-bottom: 0;
  }
  .backdrop img {
    margin-top: 30px;
  }
  .img-grid {
    margin: 20px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .menu-item {
    font-size: 0.6rem;
  }
  .img-wrap {
    margin-bottom: 20px;
  }
  .google-logo {
    width: 20px;
    margin-right: 5px;
  }
  .caption-text {
    font-size: 1rem;
  }
  .no-photos {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .caption-div {
    align-items: flex-start;
  }
  .caption-text {
    text-align: left;
  }
}

@media screen and (max-width: 400px) {
  .logout-div {
    flex-direction: column;
  }
}
