@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #2d6187;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: var(--secondary);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

form {
  margin: 30px auto 10px;
  text-align: center;
}
label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  cursor: pointer;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  transition: all 0.5s ease;
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover {
  background: var(--primary);
  color: white;
}

/* LOGIN FORM */

.login-buttons {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-provider-button {
  border: 1px solid #4e4e4e;
  font-weight: 600;
  padding: 12px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LOGIN FORM ENDS */

/* INTRO BACKGROUND */

.dashboard-background {
  background-color: white;
}

.title {
  max-width: 960px;
  margin: 0 auto;
}

.title h1 {
  color: #8db596;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 600;
}

.title h2,
.title p {
  text-align: center;
}

.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

.logout-div {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  align-items: center;
  cursor: pointer;
  margin-bottom: 30px;
}

.logout-div > h1 {
  flex-grow: 7;
  margin-left: 10px;
}

.logout-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
  flex-grow: 1;
  max-height: 40px;
}

.logout-button span {
  color: #968c83;
  letter-spacing: 0.9px;
  font-weight: 600;
}

.google-logo {
  width: 30px;
  margin-right: 15px;
}

.background-image {
  width: 100%;
  object-fit: contain;
}

/* INTRO BACKGROUND ENDS */

/* UPLOAD FORM */

.output {
  height: 60px;
  font-size: 0.8rem;
}

.error {
  color: var(--error);
}

.progress {
  margin: 10px auto;
}

/* UPLOAD FORM ENDS */

/* IMAGEGRID */

.search-background {
  padding: 20px 10px 5px 10px;
  background-image: linear-gradient(
    to bottom,
    rgba(227, 246, 245, 0.5),
    rgba(227, 246, 245, 1)
  );
}

.tags-heading {
  color: #64958f;
  font-size: 2.4rem;
}

.tags-message {
  font-size: 0.9rem;
  margin-bottom: 30px;
  color: #2d6187;
  font-weight: 600;
}

.copied-text {
  background-color: #e8e8e8;
  padding: 10px;
  animation-name: myAnimation;
  animation-duration: 3000ms;
  animation-fill-mode: forwards;
  color: green;
  font-weight: 600;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes myAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

.heading-tags {
  border-radius: 12px;
  color: white;
  background-color: #64958f;
  padding: 5px 10px;
  display: inline-block;
  margin: 0 10px 25px 10px;
  transition: all 0.5s ease;
}

.heading-tags:hover {
  cursor: pointer;
  background-color: #e8e8e8;
  color: black;
}

.heading-tag {
  overflow: hidden;
  max-width: 20ch;
  font-size: 0.9rem;
  text-overflow: ellipsis;
}

.search-date-heading {
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.4rem;
  margin-bottom: 10px;
  color: #43658b;
}

.input {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  background-color: white;
  border: 2px solid #64958f;
  height: 30px;
  margin: 10px;
  outline: none;
  border-radius: 6px;
}

::placeholder {
  font-weight: 700;
  color: #64958f;
  padding-left: 8px;
}

.search-logo {
  width: 25px;
  margin: auto 10px;
  cursor: pointer;
  transition: transform 0.4s;
}

.search-logo:hover {
  transform: scale(1.4);
  filter: brightness(0.8);
}

.search-button-tag {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #1f6f8b;
  transition: background-color 0.5s ease;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: white;
  letter-spacing: 1px;
  width: 130px;
  height: 30px;
  margin: 10px;
}

.search-button-tag:hover {
  background-color: #3797a4;
}

.search-button {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #333456;
  transition: background-color 0.5s ease;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  color: white;
  letter-spacing: 1px;
  width: 130px;
  height: 30px;
  margin: 10px;
}

.search-button:hover {
  background-color: #595b83;
}

.no-photos {
  color: #2d6187;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 1.5rem;
}

/* IMAGEGRID ENDS */

/* IMAGELIST */

.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  margin-bottom: 50px;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
}

.img-wrap img {
  cursor: pointer;
  min-height: 100%;
  max-width: 100%;
  position: absolute;
  object-fit: contain;
  transition: opacity 0.6s;
  -webkit-transition: opacity 0.6s;
  top: 0;
  left: 0;
}

.img-wrap button {
  visibility: hidden;
}

.img-wrap:hover button {
  visibility: visible;
  position: absolute;
}

.img-wrap:hover img {
  opacity: 0.7;
}

.date-created {
  display: flex;
  justify-content: flex-end;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.menu-item {
  display: flex;
  font-weight: 600;
  align-items: center;
  font-size: 0.8rem;
  padding-bottom: 10px;
  cursor: pointer;
}

.icons {
  width: 20px;
  margin-right: 10px;
}

.scrollbar {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  float: left;
  width: 100%;
  background: #f5f5f5;
  overflow-y: scroll;
  margin-bottom: 15px;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.tags {
  border-radius: 10px;
  color: white;
  background-color: #495464;
  padding: 5px 10px;
  display: flex;
  flex-wrap: wrap;
  margin-right: 5px;
  margin-bottom: 5px;
}

.tag {
  overflow: hidden;
  max-width: 10ch;
  font-size: 0.6rem;
  text-overflow: ellipsis;
}

.caption-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}

.caption-text {
  text-align: center;
  font-weight: 600;
  color: #214252;
  font-size: 1.2rem;
  margin-bottom: 25px;
}

/* IMAGELIST ENDS */

/* MODALS */

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
}

.delete-text {
  color: white;
  text-align: center;
  margin: 20px;
}

.cancel-button {
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  border: none;
  outline: none;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #d2d3c9;
}

.delete-button {
  background-color: #af2d2d;
  color: white;
  border: none;
  height: 30px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  margin: 10px 20px;
  width: 100px;
  outline: none;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #bb2205;
}

textarea {
  margin-top: 10px;
  width: 50%;
  height: 100px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: -moz-use-text-color #ffffff #ffffff -moz-use-text-color;
  border-image: none;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
  border-style: none solid solid none;
  border-width: medium 1px 1px medium;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
  color: #555555;
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.4em;
  padding: 30px;
  transition: background-color 0.2s ease 0s;
}

textarea:focus {
  background: none repeat scroll 0 0 #ffffff;
  outline-width: 0;
}

.add-icon {
  background-image: none;
  width: 60px;
  border-width: 0;
  cursor: pointer;
}

/* MODAL STYLES END */

.up {
  opacity: 0.7;
  cursor: pointer;
  width: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  transition: opacity 0.5s ease;
}

.up:hover {
  opacity: 1;
}

.arrow-up {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: -5px;
}

/* PROGRESS BAR */

.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

.indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-size: 2.2em;
  font-weight: 100;
  color: #555;
  user-select: none;
}

/* PROGRESS BAR ENDS */

.memory {
  position: absolute;
}

.hide {
  display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 550px) {
  .logout-button {
    margin-right: 0;
  }
  .backdrop {
    flex-direction: column;
  }
  textarea {
    margin-bottom: 0;
  }
  .backdrop img {
    margin-top: 30px;
  }
  .img-grid {
    margin: 20px 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .menu-item {
    font-size: 0.6rem;
  }
  .img-wrap {
    margin-bottom: 20px;
  }
  .google-logo {
    width: 20px;
    margin-right: 5px;
  }
  .caption-text {
    font-size: 1rem;
  }
  .no-photos {
    font-size: 1rem;
  }
  .tags-heading {
    font-size: 2.1rem;
  }
}

@media screen and (max-width: 450px) {
  .caption-div {
    align-items: flex-start;
  }
  .caption-text {
    text-align: left;
  }
  .up {
    width: 40px;
    bottom: 20px;
    right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .logout-div {
    flex-direction: column;
  }
}

/* MEDIA QUERIES END */
